@import url("https://fonts.googleapis.com/css?family=Comic Sans");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  background-image: url('test/outerspace.jpg');
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  font-size: 150%;
  font-family: "Papyrus";
  color: white;
} 
div.a {
   text-align: center;
   height: 200px;
}
div.info {    
    float: center;
    text-align: center;
}
input, label {
  display:block;
}

